.chips{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    margin-block : 30px;
    
}
span.chip{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    cursor:pointer;
    position: relative;
}
span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
