header {
    text-align: center;  
    padding: 20px;           
}
header h1 {
    font-size:  2rem;     
    color: #F9F4DA;  
}
header p {
    font-size: 1.1rem;       
    max-width: 350px;  
    color: #8E8E8E;
}