header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    margin-bottom: 20px;
           
}
header h1 {
    font-size:  2rem;     
    color: #F9F4DA;  
    margin-bottom: -5px;

}
header p {
    font-size: 1.1rem;       
    max-width: 350px;  
    color: #8E8E8E;
    text-align: center;
}