.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    max-width: 450px;
    margin-block: 30px;

}
section.keyboard > button{
    width: 40px;
    height: 40px;
    background-color: #FCBA29;
    color: #000000;
    border: 1px solid #D7D7D7;
    border-radius: 4px;


}
section.keyboard > button.correct {
    background-color: #10A95B;
}

section.keyboard > button.wrong {
    background-color: #EC5D49;
}
.keyboard button:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.keyboard button:disabled {
    
    cursor: not-allowed;
    opacity: 0.6;
}