.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4DA;
    width: 100%;
    max-width: 350px;
    min-height: 50px;
    border-radius: 4px;
    margin-block: 15px;
    
  
    
}
.status.lost{
    background-color: #BA2A2A; 
    
   
}
.status.won{
      background-color: #10A95B; 
     
   
}
.status.farewellMessage{
    background-color: #7A5EA7;
    border: 1px dashed #323232;
   
}
.status h2{
    font-size: 1.25rem;
     margin: 8px 0 0 0;
}
.status p{
    font-size: 0.875rem;  
    margin: 4px 0 8px 0; 
}
