*{
    box-sizing: border-box; 
}
body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #262626;
    padding: 20px;
    height: 100vh;
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}